* {
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
  font-size: 3vmin;
  font-family: monospace;
  margin-bottom: 1vmin;
}

.cell {
  width: 20px;
  height: 20px;
  border: 'solid 1px black';
  text-align: 'center';
}

.controls {
  display: grid;
  width: 80vmin;
  grid-template-columns: repeat(5, 1fr);
}

.control {
  background-color: white;
  border: solid 1px black;
  color: black;
  margin: auto;
  margin-bottom: 1vmin;
  padding: 1vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vmin;
  min-width: 8vmin;
}
